@font-face{
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
body{
    font-family: 'Poppins';
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ШАПКА*/
.header{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 66px;
    width: 1519px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
.logo{
    border-radius: 0px;
}
.nav{
    height: 46px;
    width: 403px;
}
.main_menu{
    display: flex;
    list-style: none;
    color: #444444;
}
.menu_link{
    margin: 6px 20px 0 13px;
}
.menu_link a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #444444;
    color: rgb(0, 0, 0);
    opacity: 0.6;
    text-decoration: none;
    transition: all .02s ease-in-out;
}
.menu_link a:hover {
    opacity: 1;
}
    
    /*ИНТРО*/
.intro{
    width: 100%;
    height: 774px;
    background: url('../img/landing2.png') no-repeat center center / cover;
}
.container{
    width: 1200px;
    margin: 0 auto;
    }
.intro_wrapper{
    height: 776px;
    display: flex;
    align-items: center;
}
.intro_logo{
    width: 128px;
    height: 103px;
    margin-left: 550px;
    margin-top: -74px;
}
.intro_text{
    width: 525px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
    margin-bottom: -200px;
    margin-left: -330px;
}
    
.intro_vniz{
    width: 64px;
    animation: 2s linear 1s infinite alternate slidein;
    margin-left: -300px;
    margin-top: 500px;
}
    @keyframes slidein { from { margin-bottom: -5%; } to { margin-bottom: 0%; } }
    
    /*ABOUT US*/
.about{
    padding: 100px 0;
    background-color:#FAFAFC;
    height: 486px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text_zag{
    height: 175px;
}
.about_text{
    height: 20px;
    color: #FF8A63;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.about_zagolovok{
    height: 159px;
    color: #45525B;
    top: 11.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
}
.text_info{
    height: 286px;
    margin-left: 600px;
    margin-top: -200px;
}
.about_info{
    height: 112px;
    color: #333333;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.about_info2{
    height: 68px;
    color: #333333;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.ava_info{
    height: 80px;
    display: flex;
    margin-left: 600px;
    margin-top: -90px;
}
.about_ava{
    height: 80px;
}
.text_ava{
    height: 38px;
    margin-top: 18px;
    margin-left: 10px;
}
.text_name{
    height: 23px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.text_who{
    height: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
    
    /*ALGORITM*/
.algoritm{
    height: 900px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text_algorimt{
    text-align: center;
    height: 114px;
    margin-top: -88px;
}
.text_out{
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    text-align: center;
    height: 114px;
    margin-top: 100px;
}
.text_how{
    width: 499px;
    height: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #45525B;
    margin-left: 350px;
}
.text_lorem{
    width: 561px;
    height: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;
    margin-left: 320px;
    margin-top: 10px;
}
    /*ИЗОБРАЖЕНИЕ*/
.algoritm_block{
    height: 587.52px;
    display: flex;
}
.algoritm_img{
    height: 588px;
    border-radius: 30px;
    margin-left: 136px;
    margin-top: 20px;
}
    
    /*СПИСОК С ИКОНКАМИ*/
.algoritm_block_text{
    height: 561px;
    margin-left: 50px;
    margin-top: 50px;
}
    /*1*/
.block_punkt{
    height: 167px;
    width: 300px;
    border: solid 1px transparent;
}
.block_punkt:hover{
    background-color: #FAFAFC;
    border: solid 1px #CACCD1;
    border-radius: 10px;
}
.block_arka:hover{
    background-color: #FAFAFC;
    border: solid 1px #CACCD1;
    border-radius: 10px;
}
.block_styl:hover{
    background-color: #FAFAFC;
    border: solid 1px #CACCD1;
    border-radius: 10px;
}
.punkt_img{
    height: 48px;
    margin-top: 21px;
    margin-left: 21px;
 }
.text_punkt{
    height: 67px;
    margin-left: 21px;
    margin-top: 10px;
}
.text_stellar{
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.text_lorem_stellar{
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
    /*2*/
    .block_arka{
    height: 167px;
    margin-top: 30px;
    border: solid 1px transparent;
    }
.arka_img{
    height: 48px;
    margin-top: 21px;
    margin-left: 21px;
}
.text_arka{
    height: 67px;
    margin-top: 9px;
    margin-left: 21px;
}
.text_high{
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.text_lorem_high{
    height: 40px;
    top: calc(50% - 40px/2 + 4.25px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
    /*3*/
.block_styl{
    height: 167px;
    margin-top: 30px;
    border: solid 1px transparent;
}
.styl_img{
    height: 48px;
    margin-top: 21px;
    margin-left: 21px;
}
.text_styl{
    height: 67px;
    margin-top: 9px;
    margin-left: 21px;
}
.text_expert{
    height: 20px;
    top: calc(50% - 20px/2 - 24.75px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.text_lorem_expert{
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
    
    /*FRAME*/
.frame{
    height: 700px;
    background: url('../img/fon3.png') no-repeat center center / cover;
}
.container{
    width: 1200px;
    margin: 0 auto;
    height: 700px;
}
.text__frame{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.frame__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #292C32;
    margin-top: 10px;
}
.text__frame2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #45525B;
}
.line__frame{
    margin-top: 8px;
}
.frame__img{
    margin-left: 95px;
    margin-top: -18.1px;
}
.text__img__frame{
    margin-left: 997px;
    padding-top: 300px;
    margin-right: -50px;
}
/*МЕСТА*/
.mesto{
    margin-top: 2814px;
    height: 1204px;
    padding: 100px 0;
    background-color: #FAFAFC;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text_mesto{
    text-align: left;
    height: 135px;
}
.text_current{
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
}
.text_what{
    height: 44px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;
}
.text_morbi{
    height: 65px;
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #6F7278;
}
/*ВИДЫ МЕСТ*/
.info_mesto{
    display: flex;
    align-items: center;
    text-align: center;
}
.info_photo{
    width: 100px;
    margin-left: 0px;
    margin-top: -30px; 
}
.block_house{
    height: 118px;
    margin-left: 0px;
    margin-top: 266.39px;    
}
.text_house{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;    
}
.info_text_home{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #45525B;
    margin-top: 10px;    
}











