@font-face{
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
body{
    font-family: 'Poppins';
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ШАПКА*/
.header{
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 66px;
    left: 0%;
    right: 0%;
    top: 0px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
.logo{
    position: absolute;
    height: 37px;
    left: 136px;
    right: 90.17%;
    top: 15px;
    border-radius: 0px; 
}
.nav{
    position: absolute;
    height: 46px;
    left: 65.08%;
    top: 17px;
    width: 403px;
}
.main_menu{
    display: flex;
    list-style: none;
    color: #444444;
}
.menu_link{
    margin: 6px 20px 0 20px;
}
.menu_link a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #444444;
    color: rgb(0, 0, 0);
    opacity: 0.6;
    text-decoration: none;
    transition: all .02s ease-in-out;
}
.menu_link a:hover {
    opacity: 1;
}

/*ИНТРО*/
.intro{
    position: absolute;
    width: 100%;
    top: 66px;
    height: 774px;
    background:  url('../img/landing2.png') no-repeat center center / cover;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.intro_wrapper {
    height: 776px;
    display: flex;
    align-items: center;
}
.intro_logo{
    position: absolute;
    width: 128px;
    height: 103px;
    left: calc(50% - 128px/2);
    top: calc(50% - 182px/2 - 33.5px);
}
.intro_text{
    position: absolute;
    width: 525px;
    left: calc(50% - 525px/2 + 0.5px);
    top: 390px;
    font-family: 'Poppins';
    font-style: normal; 
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #45525B;
}

.intro_vniz{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 729px;
    top: 670px;
}

/*ABOUT US*/
.about{
    padding: 100px 0;
    background-color:#FAFAFC;
    position: absolute;
    height: 486px;
    left: 0%;
    right: 0%;
    top: 839px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text_zag{
    position: absolute;
    height: 175px;
    left: 165px;
    right: 50.68%;
    top: 155.5px;
}
.about_text{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 84.2%;
    top: -0.5px;
    color: #FF8A63;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.about_zagolovok{
    position: absolute;
    height: 159px;
    left: 0%;
    right: 14.76%;
    color:  #45525B;
    top: 11.5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
}
.text_info{
    position: absolute;
    height: 286px;
    left: 50.68%;
    right: 0%;
    top: 100px;

}
.about_info{
    position: absolute;
    height: 112px;
    left: 0%;
    right: 2.6%;
    top: -1px;
    color: #333333;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}
.about_info2{
    position: absolute;
    height: 68px;
    left: 0%;
    right: 0%;
    top: 119px;
    color: #333333;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.ava_info{
    position: absolute;
    height: 80px;
    left: 770px;
    right: 0%;
    top: 302px;
}
.about_ava{
    position: absolute;
    height: 80px;
    left: 0%;
    right: 86.11%;
    top: calc(50% - 80px/2);
}
.text_ava{
    position: absolute;
    height: 38px;
    left:  88px;
    right: 57.81%;
    top: calc(50% - 38px/2);
}
.text_name{
    position: absolute;
    height: 23px;
    left: 0%;
    right: 58.71%;
    top: -1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #45525B;
}
.text_who{
    position: absolute;
    height: 17px;
    left: 0%;
    right: 0%;
    top: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}

/*ALGORITM*/
.algoritm{
    position: absolute;
    height: 731.52px;
    left: 8.33%;
    right: 8.33%;
    top: 1382px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.text_algorimt{
    text-align: center;
    position: absolute;
    height: 114px;
    left: 25%;
    right: 25%;
    top: 0px;   
}
.text_out{
    position: absolute;
    height: 20px;
    left: calc(50% - 172px/2);
    top: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;
    
}
.text_how{
    position: absolute;
    width: 499px;
    height: 44px;
    left: calc(50% - 499px/2 + 0.5px);
    top: 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #45525B;
}
.text_lorem{
    position: absolute;
    width: 561px;
    height: 44px;
    left: calc(50% - 561px/2 + 0.5px);
    top: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;
}
/*ИЗОБРАЖЕНИЕ*/
.algoritm_block{
    position: absolute;
    height: 587.52px;
    left: 1.33%;
    right: 1.33%;
    top: 144px;
}
.algoritm_img{
    position: absolute;
    height: 588px;
    left: 15.24%;
    right: 43.66%;
    top: calc(50% - 588px/2 + 0.24px);
    border-radius: 30px;
}

/*СПИСОК С ИКОНКАМИ*/
.algoritm_block_text{
    position: absolute;
    height: 561px;
    left: 59.08%;
    right: 15.24%;
    top: 13.25px;
}
/*1*/
.block_punkt{
    position: absolute;
    height: 167px;
    left: 0%;
    right: 0%;
    top: 0px;   
}
.punkt_img{
    position: absolute;
    height: 48px;
    left: 7%;
    right: 77%;
    top: 21px;    
}
.text_punkt{
    position: absolute;
    height: 67px;
    left: 7%;
    right: 7%;
    top: 79.25px;
}
.text_stellar{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 30.62%;
    top: calc(50% - 20px/2 - 24.75px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;   
}
.text_lorem_stellar{
    position: absolute;
    height: 40px;
    left: 0%;
    right: 24.03%;
    top: calc(50% - 40px/2 + 4.25px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
/*2*/
.block_arka{
    position: absolute;
    height: 167px;
    left: 0%;
    right: 0%;
    top: 196.75px;      
}
.arka_img{
    position: absolute;
    height: 48px;
    left: 7%;
    right: 77%;
    top: 21px;    
}
.text_arka{
    position: absolute;
    height: 67px;
    left: 7%;
    right: 7%;
    top: 79.25px;
}
.text_high{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 26.36%;
    top: calc(50% - 20px/2 - 24.75px);   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.text_lorem_high{
    position: absolute;
    height: 40px;
    left: 0%;
    right: 24.03%;
    top: calc(50% - 40px/2 + 4.25px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}
/*3*/
.block_styl{
    position: absolute;
    height: 167px;
    left: 0%;
    right: 0%;
    top: 383.75px;
        
}
.styl_img{
    position: absolute;
    height: 48px;
    left: 7%;
    right: 77%;
    top: 21px;       
}
.text_styl{
    position: absolute;
    height: 67px;
    left: 7%;
    right: 7%;
    top: 79.25px;
}
.text_expert{
    position: absolute;
    height: 20px;
    left: 0%;
    right: 15.5%;
    top: calc(50% - 20px/2 - 24.75px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
}
.text_lorem_expert{
    position: absolute;
    height: 40px;
    left: 0%;
    right: 24.03%;
    top: calc(50% - 40px/2 + 4.25px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
}

/*FRAME*/
.frame{
    position: absolute;
    height: 600.3px;
    left: 0%;
    right: 0%;
    top: 2213.52px;
    background:  url('../img/fon3.png') no-repeat center center / cover;
}
.container{
    width: 1200px;
    margin: 0 auto;
}







